body {
  background-color: #ffffe6;
}

h1 {
  text-align: center;
}

img {
  max-height: 300px;
  width: auto;
}

ul {
  padding: 15px;
  border: 5px dashed blue;
  border-radius: 5px;
  text-align: center;
  list-style: none;
  background-color: #e6ffe6
}

/*img {
  float: right;
}*/

.logo {
  width: 50px;
  height: 50px;
}

.red-quote{
  color: red;
}

#cats {

}